.HoverNote {
  position: relative;
}
.HoverNote:after,
.HoverNote:before {
  bottom: 100%;
  left: 0%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.HoverNote:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: white;
  border-width: 10px;
  margin-left: 0px;
}
.HoverNote:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: rgba(0, 0, 0, .3);
  border-width: 11px;
  margin-left: -1px;
}
