.material-icons {
  font-size: initial !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.as-blue {
  color: #4185db;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.light-gradient {
  background: #e7f0fb;
  background: linear-gradient(180deg, #ecf3fb 0%, #e7f0fb 100%);
}

a {
  color: #4185db;
  text-decoration: none;
}

code,
pre {
  font-family: 'Lato', monospace;
}

svg text {
  font-size: 0.8rem;
}
svg .axis .tick line {
  stroke: #657b83;
}
svg .axis .tick text {
  fill: #657b83;
}
svg .axis path.domain {
  stroke: #657b83;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.as-github svg,
.as-twitter svg {
  fill: #4185db;
}

.MathJax_SVG_Display {
  font-size: 1rem;
}

td {
  border: 1px dotted;
  padding: 5px;
}
